apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

commonLabels:
  environment: production
  deployment-mode: multi-pod

patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: retrogemini

images:
  - name: jpfroud/retrogemini
    newName: jpfroud/retrogemini
    newTag: latest
