apiVersion: v1
kind: Service
metadata:
  name: team-retrospective
  labels:
    app: team-retrospective
    app.kubernetes.io/name: team-retrospective
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: team-retrospective
